*{
    margin: 0;
    padding: 0;
}


nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}    

nav img{
    height: 70px;
    width: 200px;
    margin-left: 15px;
}
#nav-2{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#nav-2 h4 {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    border: 1px solid wheat;
    border-radius: 35px;
    position: relative;
    font-weight: 500;
    text-decoration: none;
    transition: all ease-in 0.3s;
    overflow: hidden;
}
#nav-2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    bottom: -100%;
    left: 0;
    border-radius: 50%;
    transition: all ease-in 0.3s;
}
#nav-2 h4:hover::after{
    bottom: 0;
    border-radius: 35px;
    background-color: rgba(233, 208, 177, 0.918);
}
#nav-2 a{
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 9;
}
#nav-2 h4:hover a{
    color: black;
}
h1{
    font-size: 5rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 3rem;
}
#page1{
    height: 100px;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 0 0;
    z-index: 10;
    
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: black;
}
.contain{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.social{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 2px 2px #dadde1;
}
a{
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 120px;
    
}
a i{
    font-size: 50px;
    transition: all 0.3s linear;
}
a:hover i{
    transform: scale(1.4);
}
.fa-instagram{
    color: #e84393;
}
.fa-youtube{
    color: #e84118;
}
.fa-phone{
    color: black;
}
#nav-3{
    display: none;
}
h3{
    display: none;
}
@media (max-width:600px) {
    #page1{
        height: 70vh;
        width: 100%;
        cursor: auto;
    }
    nav{
        height: 50px;
        width: 100%;
        position: relative;
        border: 1px solid black;
    }
    nav h3{
        display: block;
        color: white;
        padding: 2vw 5vw;
        font-size: 8vw;
        font-weight: 600;
    }
    nav img{
        display: none;
    }
    #nav-2{
        display: none;
    }
    #nav-3{
        display: block;
    }
    .nav-3{
        border-bottom: 1px solid white;
    }
    #nav-3 h4 a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 8vw;
        font-weight: 400;
    }
    .contain{
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
        gap: 30px;
    }
    .social{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 5px 2px 2px #dadde1;
    }
    a{
        height: 100px;
        width: 100px;
        text-align: center;
        line-height: 120px;
        
    }
    a i{
        font-size: 50px;
        transition: all 0.3s linear;
    }
    a:hover i{
        transform: scale(1.4);
    }
}